@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/assets/Inter.woff2") format("woff2");
}

/*variables*/
:root {
    --spacing-m: 20px;
    --spacing-l: calc(var(--spacing-m) * 2);
    --spacing-s: calc(var(--spacing-m) / 2);
    --spacing-t: 5px;

    --palette-fg: 0, 0, 0;
    --palette-bg: 255, 255, 255;
    --palette-primary: 195, 60, 44;
}
@media (min-width: 480px) {
    :root {
        --spacing-m: 30px;
    }
}

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color-scheme: light;
    font-size: 16px;
}

/*body*/
body {
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}
body.main {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 100vw;
}
body.main main {
    margin-top: calc(36px + var(--spacing-l));
}
@media (min-width: 480px) {
    body.main main {
        margin-top: calc(50px + var(--spacing-l));
    }
}
body.main .wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
body.form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
body.form .wrapper {
    max-width: 420px;
    margin: 0 auto;
    padding: var(--spacing-m);
}

/*headings*/
h1 {
    font-weight: 600;
    font-size: 2.2rem;
    letter-spacing: -1px;
}
@media (min-width: 480px) {
    h1 {
        font-size: 3rem;
        letter-spacing: -2px;
    }
}
h2 {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: -1px;
}
h3 {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: -0.5px;
}

/*button*/
a.button {
    display: block;
    text-decoration: none;
}
button.button {
    outline: unset;
    border: unset;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.button {
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
    border-radius: 50px;
    height: fit-content;
    width: fit-content;
    transition: background-color 200ms,
    color 200ms;
}
@media (hover: hover) {
    .button:hover {
        background-color: rgb(var(--palette-primary));
        color: rgb(var(--palette-bg));
    }
}
.button:disabled, .button.disabled {
    filter: grayscale(1);
    opacity: 0.4;
    pointer-events: none;
}
.button svg {
    display: block;
    height: 20px;
    width: 20px;
}
.button.full {
    display: flex;
    align-items: center;
    gap: 15px;
    line-height: 20px;
    font-weight: 400;
    padding: 8px 13px 8px 15px;
}
.button.icon {
    padding: 8px;
}

/*spinner*/
#spinner {
    position: fixed;
    padding: 8px;
    background: rgb(var(--palette-primary));
    bottom: var(--spacing-m);
    left: 50%;
    translate: -50% 0;
    border-radius: 50px;
    z-index: 2;
}
#spinner .loader {
    display: block;
    --uib-size: 18px;
    --uib-color: white;
    --uib-speed: 1.5s;
    --uib-dot-size: 25%;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin var(--uib-speed) infinite linear;
}
#spinner .loader .dot {
    position: absolute;
    left: calc(50% - var(--uib-dot-size) / 2);
    height: 100%;
    width: var(--uib-dot-size);
}
#spinner .loader .dot:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
#spinner .loader .dot:nth-child(1) {
    transform: rotate(120deg);
}
#spinner .loader .dot:nth-child(1)::after {
    animation: wobble var(--uib-speed) infinite ease-in-out;
}
#spinner .loader .dot:nth-child(2) {
    transform: rotate(-120deg);
}
#spinner .loader .dot:nth-child(2)::after {
    animation: wobble var(--uib-speed) infinite ease-in-out;
}
#spinner .loader .dot:nth-child(3)::after {
    animation: wobble var(--uib-speed) infinite ease-in-out;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes wobble {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(65%);
    }
}

/*forms*/
form {
    margin-top: var(--spacing-s);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}
form div.group, form div.upload {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-t);
}
form div.checkbox {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}
form div.group.required {
    position: relative;
}
form div.group.required svg {
    position: absolute;
    color: rgb(var(--palette-primary));
    top: 5px;
    right: 0;
    height: 14px;
    width: 14px;
}
form div.group label, form div.checkbox label, form div.upload label {
    font-size: 1rem;
    font-weight: 600;
}
form div.group input, form div.group textarea {
    border: unset;
    outline: unset;
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgba(var(--palette-primary), 0.1);
    padding: 8px 13px 8px 15px;
    font-size: inherit;
    font-family: inherit;
}
form div.group textarea {
    resize: none;
}
/*dropzone*/
form div.upload input[type="file"] {
    display: none;
}
form div.upload .dropzone {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-s);
    padding: var(--spacing-s);
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgba(var(--palette-primary), 0.1);
    cursor: pointer;
    transition: transform 200ms;
}
form div.upload .dropzone.active,
form div.upload .dropzone:hover,
form div.upload .dropzone:focus,
form div.upload .dropzone:focus-visible {
    transform: scale(1.02);
}
form div.upload .dropzone *:not(.showcase.active) {
    pointer-events: none;
}
form div.upload .dropzone .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s);
    font-size: 14px;
    font-weight: 400;
    color: rgba(var(--palette-fg));
}
form div.upload .dropzone .details ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-t);
}
form div.upload .dropzone .details ul li {
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
}
form div.upload .dropzone .details p {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
form div.upload .dropzone .showcase {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background-color: rgba(var(--palette-primary), 0.1);
}
form div.upload .dropzone .showcase svg {
    height: 52px;
    width: auto;
    color: rgb(var(--palette-primary));
}
form div.upload .dropzone .showcase.active {
    justify-content: flex-start;
    width: min-content;
    max-width: 100%;
    background: transparent;
    overflow-x: auto;
    height: auto;
}
form div.upload .dropzone .showcase.active article {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 1fr min-content;
    gap: var(--spacing-s);
}
form div.upload .dropzone .showcase.active article:not(:last-child) {
    margin-right: var(--spacing-t);
}
form div.upload .dropzone .showcase.active article img {
    height: 120px;
    width: 120px;
    object-fit: contain;
    background-color: rgba(var(--palette-primary), 0.1);
    border-radius: 5px;
}
form div.upload .dropzone .showcase.active article p {
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
    font-size: 14px;
    font-weight: 400;
    width: fit-content;
    margin: 0 auto;
}

/*headers*/
/*menu*/
#menu {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
#menu.open {
    bottom: 0;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr;
}
#menu header {
    background-color: rgb(var(--palette-bg));
}
#menu header .wrapper {
    width: 100%;
    padding: var(--spacing-m);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-m);
    position: relative;
}
#menu header img {
    display: block;
    height: 36px;
    width: auto;
    margin-right: auto;
}
@media (min-width: 480px) {
    #menu header img {
        height: 50px;
    }
}
#menu header nav {
    gap: var(--spacing-s);
    align-items: center;
    display: none;
    visibility: hidden;
}
#menu header #toggle svg {
    pointer-events: none;
}
#menu header #toggle svg rect {
    transform-box: fill-box;
    transform-origin: center;
}
#menu nav a {
    position: relative;
    text-decoration: none;
    color: black;
    width: fit-content;
}
#menu nav a.active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    border-radius: 1px;
    bottom: -5px;
    left: 0;
    background-color: rgb(var(--palette-primary));
}
#menu nav.mobile {
    flex-direction: column;
    gap: var(--spacing-l);
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--palette-bg), 0.9);
    z-index: 1;
    display: none;
    visibility: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
#menu nav.mobile.shown {
    display: flex;
    visibility: visible;
}
#menu nav.mobile a {
    font-size: 1.2rem;
}
#menu .actions {
    display: flex;
    gap: var(--spacing-s);
}
@media (min-width: 781px) {
    #menu #toggle,
    #menu nav.mobile,
    #menu nav.mobile.shown {
        display: none;
        visibility: hidden;
    }
    #menu header nav {
        display: flex;
        visibility: visible;
    }
}

/*footer*/
footer {
    box-shadow: inset 0 1px 0 0 rgba(var(--palette-fg), 0.05);
}
footer .wrapper {
    padding: var(--spacing-m);
    display: flex;
    gap: var(--spacing-m);
    flex-direction: column-reverse;
}
@media (min-width: 546px) {
    footer .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }
}
footer .copyright {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: var(--spacing-s);
}
footer .copyright p {
    opacity: 0.4;
    font-size: 0.8rem;
}
footer .contact {
    text-align: right;
}
footer .contact h2 {
    margin-bottom: var(--spacing-s);
}
footer .contact .method {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
    justify-content: flex-end;
}
footer .contact .method:not(:last-child) {
    margin-bottom: var(--spacing-t);
}
footer .contact .method p {
    font-size: 1.2rem;
}

/*home*/
#home section .wrapper {
    padding: var(--spacing-l) var(--spacing-m);
}

/*hero*/
#home section#hero {
    position: relative;
}
#home section#hero .parallax {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#home section#hero .parallax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.1;
}
#home section#hero .wrapper {
    position: relative;
    text-align: center;
}
#home section#hero h1 {
    margin-bottom: var(--spacing-s);
}
#home section#hero p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: var(--spacing-l);
}
#home section#hero p span {
    font-weight: 600;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
}
#home section#hero .gallery .controls {
    margin-top: var(--spacing-s);
    display: flex;
    gap: var(--spacing-s);
}
#home section#hero .gallery .controls button {
    display: block;
    border: unset;
    outline: unset;
    height: 32px;
    width: 32px;
    border-radius: 50px;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
    cursor: pointer;
}
#home section#hero .gallery .controls button i {
    display: block;
    font-size: 22px;
}
#home section#hero .gallery .slides {
    overflow: hidden;
    width: 100%;
    position: relative;
    border-radius: 10px;
}
#home section#hero .gallery .slides .overflow {
    display: flex;
    gap: var(--spacing-s);
}
#home section#hero .gallery .slides .overflow img {
    display: block;
    height: 240px;
    width: auto;
    border-radius: 10px;
}

/*about*/
#home section#about .wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--spacing-m);
}
@media (min-width: 480px) {
    #home section#about .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
#home section#about .content .button {
    margin-top: var(--spacing-s);
}
#home section#about .content p {
    margin-top: var(--spacing-s);
}
#home section#about img {
    display: block;
    height: 128px;
    width: auto;
}

/*tagline*/
#home section#tagline {
    background-color: rgba(0, 0, 0, 0.05);
}
#home section#tagline h2 {
    margin: 0 auto;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    max-width: 640px;
    font-weight: 200;
}
#home section#tagline h2 span {
    font-weight: 600;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
}

/*qualities*/
#home section#qualities .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: var(--spacing-s);
}
#home section#qualities article {
    padding: var(--spacing-m);
    border-radius: 10px;
    box-shadow: inset 0 0 0 2px rgba(212, 43, 30, 0.1);
}
#home section#qualities article svg {
    display: block;
    height: 72px;
    width: 72px;
    padding: 16px;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
    margin-bottom: var(--spacing-s);
    border-radius: 50px;
}
#home section#qualities article h3 {
    margin-bottom: var(--spacing-s);
}

/*quotes*/
#home section#testimonials .wrapper {
    padding: 0 var(--spacing-m) var(--spacing-l) var(--spacing-m);
}
#home section#testimonials .heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    margin-bottom: var(--spacing-m);
}
#home section#testimonials .heading svg {
    display: block;
    height: 48px;
    width: 48px;
    margin: 0 auto;
    color: rgb(var(--palette-primary));
}
#home section#testimonials .subheading {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-m);
}
#home section#testimonials article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    justify-content: space-between;
    padding: var(--spacing-m);
    background-color: rgba(var(--palette-fg), 0.05);
    border-radius: 10px;
}
#home section#testimonials article .quote {
    text-align: center;
}
#home section#testimonials article .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-t);
}
#home section#testimonials article .author img {
    display: block;
    height: 48px;
    width: 48px;
    border-radius: 50px;
    object-fit: cover;
}
#home section#testimonials article .author svg {
    flex-shrink: 0;
    display: block;
    height: 48px;
    width: 48px;
    padding: 8px;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
    border-radius: 50px;
}
#home section#testimonials article .author p {
    font-weight: 600;
    text-align: center;
}
#home section#testimonials article .author p span {
    opacity: 0.4;
    font-size: 0.9rem;
}
#home section#testimonials .grid {
    margin-top: var(--spacing-s);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: var(--spacing-s);
}

/*calendar*/
#calendar .wrapper {
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-l) var(--spacing-m);
}
#calendar section#title {
    display: flex;
    gap: var(--spacing-s);
    align-items: baseline;
    margin-bottom: var(--spacing-m);
}
#calendar section#title .timestamp {
    display: flex;
    gap: var(--spacing-t);
    align-items: center;
    opacity: 0.4;
}
#calendar section#title .timestamp svg {
    display: block;
    height: 14px;
    width: 14px;
}
#calendar section#title .timestamp p {
    font-size: 0.8rem;
}
#calendar section#events article {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--spacing-m) 0;
    box-shadow: inset 0 -1px 0 0 rgba(var(--palette-primary), 0.1);
}
#calendar section#events article:first-child {
    padding-top: 0;
}
#calendar section#events article:last-child {
    box-shadow: unset;
    padding-bottom: 0;
}
#calendar section#events article ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-t);
}
#calendar section#events article ul li {
    display: flex;
    align-items: center;
    gap: var(--spacing-t);
}
#calendar section#events article ul li svg {
    display: block;
    height: 16px;
    width: 16px;
    color: rgb(var(--palette-primary));
}
#calendar section#events article ul li p {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 1;
}

/*synopses*/
body.main #synopses .wrapper {
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-l) var(--spacing-m);
}
body.main #synopses h1 {
    margin-bottom: var(--spacing-m);
}
body.main #synopses .grid {
    margin-top: var(--spacing-m);
    display: flex;
    gap: var(--spacing-s);
}

/*about*/
#about .wrapper {
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-l) var(--spacing-m);
}
#about section#origins {
    margin-bottom: var(--spacing-m);
}
#about section#origins h1 {
    margin-bottom: var(--spacing-m);
}
#about section#origins .grid {
    display: grid;
    gap: var(--spacing-m);
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
}
@media (min-width: 480px) {
    #about section#origins .grid {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}
#about section#origins .grid article h2 {
    margin-bottom: var(--spacing-s);
}
#about section#organisation {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    align-items: center;
    text-align: center;
}
#about section#organisation img {
    display: block;
    height: 128px;
    width: 128px;
}

/*dashboard*/
body.dashboard .wrapper {
    max-width: 1200px;
    padding: var(--spacing-m);
}
body.dashboard header .wrapper {
    display: flex;
    gap: var(--spacing-s);
    align-items: flex-end;
    justify-content: space-between;
}
body.dashboard header .heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}
body.dashboard header .heading p {
    opacity: 0.4;
}
body.dashboard header .heading p span {
    font-weight: 600;
}
@media (min-width: 539px) {
    body.dashboard header .wrapper {
        justify-content: flex-start;
        align-items: center;
    }
    body.dashboard header .heading {
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-m);
        flex-grow: 1;
    }
    body.dashboard header .heading p {
        margin-left: auto;
    }
}

/*dashboard sections*/
#dashboard section .header {
    display: flex;
    gap: var(--spacing-s);
    align-items: center;
}
#dashboard section p.empty {
    margin-top: var(--spacing-s);
}
#dashboard section#events .grid,
#dashboard section#synopses .grid,
#dashboard section#users .grid {
    margin-top: var(--spacing-s);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--spacing-s);
}
#dashboard section#events .grid article.event,
#dashboard section#synopses .grid article.synopsis {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-t);
    padding: var(--spacing-s);
    background-color: rgba(var(--palette-fg), 0.05);
    border-radius: 10px;
}
#dashboard section#events .grid article.event h2,
#dashboard section#synopses .grid article.synopsis h2,
#dashboard section#users .grid article.user h2 {
    font-size: 1.2rem;
    letter-spacing: -0.5px;
}
#dashboard section#events .grid article.event .tools,
#dashboard section#synopses .grid article.synopsis .tools,
#dashboard section#photos .grid article.photo .tools {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-m);
    margin: auto 0 0 0;
}
#dashboard section#events .grid article.event .tools ul.timestamps,
#dashboard section#synopses .grid article.synopsis .tools ul.timestamps,
#dashboard section#photos .grid article.photo .tools ul.timestamps,
#dashboard section#users .grid article.user ul.timestamps {
    list-style: none;
    display: flex;
    gap: 0 var(--spacing-s);
    align-items: flex-end;
    flex-grow: 1;
    flex-wrap: wrap;
}
#dashboard section#events .grid article.event .tools ul.timestamps li,
#dashboard section#synopses .grid article.synopsis .tools ul.timestamps li,
#dashboard section#photos .grid article.photo .tools ul.timestamps li,
#dashboard section#users .grid article.user ul.timestamps li {
    display: flex;
    align-items: center;
    gap: var(--spacing-t);
    flex-shrink: 0;
    font-size: 0.8rem;
}
#dashboard section#events .grid article.event .tools ul.timestamps li svg,
#dashboard section#synopses .grid article.synopsis .tools ul.timestamps li svg,
#dashboard section#photos .grid article.photo .tools ul.timestamps li svg,
#dashboard section#users .grid article.user ul.timestamps li svg {
    height: 14px;
    width: 14px;
}
#dashboard section#events .grid article.event .tools .actions,
#dashboard section#synopses .grid article.synopsis .tools .actions,
#dashboard section#photo .grid article.photo .tools .actions,
#dashboard section#users .grid article.user .actions {
    margin-top: auto;
    display: flex;
    gap: var(--spacing-t);
    justify-content: flex-end;
}

/*dashboard events*/
#dashboard section#events .grid article.event ul.metadata {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-t);
}
#dashboard section#events .grid article.event ul.metadata li {
    display: flex;
    align-items: center;
    gap: var(--spacing-t);
}
#dashboard section#events .grid article.event ul.metadata li svg {
    display: block;
    height: 16px;
    width: 16px;
    color: rgb(var(--palette-primary));
}
#dashboard section#events .grid article.event ul.metadata li p {
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 1;
}

/*dashboard synopses*/
#dashboard section#synopses .grid article.synopsis .content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-t);
}
#dashboard section#synopses .grid article.synopsis p {
    overflow-wrap: anywhere;
}

/*dashboard photos*/
#dashboard section#photos .grid {
    margin-top: var(--spacing-s);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-auto-rows: min-content;
    gap: var(--spacing-s);
}
#dashboard section#photos .grid article.photo {
    background-color: rgba(var(--palette-fg), 0.05);
    border-radius: 10px;
    padding: var(--spacing-s);
}
#dashboard section#photos .grid article.photo figure {
    height: 120px;
    width: 100%;
    box-shadow: inset 0 0 0 1px rgba(var(--palette-fg), 0.1);
    margin: 0 0 var(--spacing-s) 0;
}
#dashboard section#photos .grid article.photo img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
}

/*dashboard users*/
#dashboard section#users .grid article.user {
    display: flex;
    gap: var(--spacing-t);
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-s);
    background-color: rgba(var(--palette-fg), 0.05);
    border-radius: 10px;
}
#dashboard section#users .grid article.user .content .card {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);
}
#dashboard section#users .grid article.user .content .card svg {
    height: 32px;
    width: 32px;
    color: rgb(var(--palette-primary));
}
#dashboard section#users .grid article.user .content .card .admin {
    display: block;
    width: fit-content;
    padding: 3px 9px;
    border-radius: 50px;
    background-color: rgba(var(--palette-primary), 0.1);
    color: rgb(var(--palette-primary));
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: var(--spacing-t);
}
#dashboard section#users .grid article.user .content ul.timestamps {
    margin-top: var(--spacing-t);
}
